{{#with model.scene as |scene|}}

  {{link-to 'all scenes' 'scenes'}}

  {{content-editable value=scene.heading
  placeholder="Give your scene a heading."
  type="text"}}

  {{content-editable value=scene.text
  placeholder="Add some text to your scene."
  type="text"}}

  {{#if hasChanges}}
    <button class="edit-scene__button edit-scene__button--save" type="submit" {{action 'saveScene'}}>Save Scene</button>
  {{/if}}

  <button class="edit-scene__button edit-scene__button--save" type="submit" {{action 'deleteScene'}}>Delete Scene</button>

  {{#each scene.outboundChoices as |choice|}}
    {{choice-display choice=choice isAdmin=true}}
  {{/each}}

  {{!--add-choice-tool scenes=model.allScenes currentScene=model.scene onSave=(action 'createChoice')--}}

{{/with}}
